<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>User profile</title>
</head>
<body>
    <h1>You are viewing a user's profile: {{username}}</h1>
    <p>Lorem ipsum odor amet, consectetuer adipiscing elit.
    Condimentum pharetra phasellus penatibus enim aenean nibh aenean parturient? Ultrices
    libero erat netus odio morbi luctus sem hendrerit. Pulvinar scelerisque quam ante ligula
    montes ultrices ligula integer. Leo ipsum iaculis placerat fringilla sociosqu ut.
    Penatibus vulputate amet hendrerit; ultricies rhoncus purus. Sollicitudin mus litora faucibus quis nulla hac.
    Magna ad imperdiet hendrerit risus duis posuere. Habitant pellentesque condimentum fusce venenatis nec mollis.</p>
</body>
</html>
